//Colors
$highlight: #Afafaf; // Silver
$primary-background: #fff; //white
$text-on-dark: #e1e1e1; //mercury
$gallery-background: #fafafa; // alabaster
$button: #0095ff; //blue

// Resolution
$tablet-width: 768px;
$desktop-width: 1280px;