//Colors
$header-footer-background: #323232; //BandSite-Black
$highlight: #Afafaf; // Silver
$primary-background: #fff; //white
$text-on-dark: #e1e1e1; //mercury
$gallery-background: #fafafa; // alabaster

// Resolution
$tablet-width: 768px;
$desktop-width: 1280px;