@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

h1 {
    font-size: 1.5rem;
    padding: 1rem 1rem;

    @include tablet {
        font-size: 2.5rem;
        padding: 1rem 0 1rem 2rem;
    }

    @include desktop {
        padding-left: 4rem;
    }
}

.svg {
    padding-right: 0.5rem;
}

.desktop-box {
    @include desktop {
        width: 100%;
        padding-right: 0;
        margin-right: 2rem;
    }
}


.description-top {
    padding: 1rem 0 1rem 0;
    margin: 0 1rem 0 1rem;
    border-top: solid $text-on-dark 0.15rem;
    border-bottom: solid $text-on-dark 0.15rem;
    display: flex;
    justify-content: space-between;

    @include tablet {
        border-top: none;
        padding: 0;
        margin: 0 2rem;
    }

    @include desktop {
        margin-right: 0;
        margin-left: 4rem;
        padding-right: 1rem;
    }


    &__wrapper-left {

        @include tablet {
            display: flex;
            flex-direction: row;
        } 
    }

    &__name {
        font-weight: bold;
        padding-bottom: 1rem;
    }

    &__date {
        color: $highlight;

        @include tablet {
            padding-left: 3rem;
        }
    }

    &__wrapper-right {

        @include tablet {
            display: flex;
            flex-direction: row;
        }
    }

    &__views {
        color: $highlight;
        padding-bottom: 0.6rem;

        @include tablet {
            padding-right: 3rem;
        }
    }

    &__likes {
        color: $highlight;
    }
}

.description-text {
    padding: 1rem;

    @include tablet {
        padding: 2rem 2rem;
    }

    @include desktop {
        padding-left: 4rem;
    }
}

.comments-count {
    font-weight: bold;
    padding: 0 0 1rem 1rem;

    @include tablet {
        padding: 0 2rem;
    }

    @include desktop {
        padding-left: 4rem;
    }
}

.comment-wrapper {
    padding: 1rem;

    @include tablet {
        padding: 1rem 2rem;
    }

    @include desktop {
        padding-left: 4rem;
        padding-right: 0;
        margin-right: 0;
    }
}

.comment-list {
    padding-top: 1rem;

    &__card {
        display: flex;
        border-top: solid 0.15rem $text-on-dark;
        padding: 1rem 0;

        @include desktop {
            padding-right: 1rem;
        }
    }

    &__avatar-wrapper {
        display: flex;
        padding-right: 1rem;
    }

    &__avatar-blank {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: $text-on-dark;
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__content-top {
        display: flex;
        padding-bottom: 0.6rem;
        justify-content: space-between;
    }

    &__name {
        font-weight: bold;
    }

    &__date {
        color: $highlight;
    }
}